@import "Modal.scss";

// #root {
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
// }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  // background-image: url(./components/images/mapofasia.png);
  // height: 100%;
  padding-bottom: 100px;

  // min-height: 100vh;
  margin: 0;
  // overflow: hidden;
  // background-size: contain;
}

.asia,
.africa,
.europe,
.bg-world,
.image-preloader-container {
  background-repeat: repeat-y;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: fixed;
  // width: 100%;
  // background-size: contain;
  // min-height: 100vh;
  z-index: -1;
}
.bg-world {
  height: auto;
  max-height: 100vh;
}

// .africa {
//   background-image: url("./components/images/map-of-africa.png");
// }
// .asia {
//   background-image: url("./components/images/mapofasia.png");
// }
// .europe {
//   background-image: url("./components/images/map-of-europe.png");
// }
// .world {
//   background-image: url("./components/images/world-map.webp");
//   background-position: center;
// }

// .country-flag-app-container {
//   width: 2000px;
//   display: flex;
//   // justify-content: center;
//   flex-direction: column;
//   align-items: center;
// }

.countries-container {
  //   background-color: rgba(255, 255, 255, 0.757);
  min-width: 0px;
  padding: 30px;
  border-radius: 10px;
  max-height: 1350px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(24, 1fr);
  gap: 40px;
  z-index: 1;
}

.country {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 100px;
}

.select-region {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countryflag {
  width: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

button,
select {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
}
button {
  background-color: #04aa6d;
  border: none;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: #3e8e41;
  }
}

select:hover {
  cursor: pointer;
}
