@import "Modal.scss";
.App {
  display: flex;
  justify-content: center;
  background-image: url(./components/images/mapofasia.png);
  height: 100%;
  padding-bottom: 100px;
  min-height: 100vh;
}
* .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  //   height: 100vh;
  z-index: -1;
}

.countries-container {
  //   background-color: rgba(255, 255, 255, 0.757);
  min-width: 0px;
  padding: 30px;
  border-radius: 10px;
  max-height: 1100px;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(24, 1fr);
  gap: 10px;
  z-index: 1;
}

.country {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 100px;
}

.select-region {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countryflag {
  width: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

button,
select {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
}
button {
  background-color: #04aa6d;
  border: none;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: #3e8e41;
  }
}

select:hover {
  cursor: pointer;
}
