.country-info-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  z-index: 2;
  border-radius: 10px;
  max-width: 800px;
}

.close {
  bottom: 0;
  color: #aaa;
  color: black;
  float: right;
  margin-right: 15px;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  margin: 0;
}

.asia,
.africa,
.europe,
.bg-world,
.image-preloader-container {
  display: block;
  background-repeat: repeat-y;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: fixed;
  z-index: -1;
}

.bg-world {
  height: auto;
  max-height: 100vh;
}

.spinner-container {
  position: absolute;
  top: 40%;
  left: 45%;
  display: flex;
  justify-content: center;
}
.spinner-container * {
  position: absolute;
  top: 40%;
  left: 43%;
}
.spinner-container p {
  transform: translate(49px, 50px);
}
.spinner-container .background {
  transform: translate(30px, 50px);
}

.countries-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  padding: 30px;
  border-radius: 30px;
  max-height: 1400px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(24, 1fr);
  gap: 40px;
  z-index: 1;
}

@keyframes stretchout {
  from {
    height: 0px;
  }
  to {
    height: 100%;
  }
}
.country {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 100px;
}

.select-region {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countryflag {
  width: 70px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  animation: spinner-out 1s;
}
.countryflag:hover {
  cursor: pointer;
  animation: hoverscale 0.5s;
  transform: scale(1.2);
}

button,
select {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #04aa6d;
  border: none;
  color: white;
}
button:hover {
  cursor: pointer;
  background-color: #3e8e41;
  transform: scale(1.01);
}

select:hover, select:focus {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

select:hover {
  cursor: pointer;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hoverscale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes spinner-out {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.loading-spinner {
  width: 150px;
  height: 150px;
  border: 10px dotted #f3f3f3;
  border-top: 10px dashed black;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  border-style: double;
}/*# sourceMappingURL=App.css.map */